# encoding: utf-8
<h3>Бренды</h3>
<div id="brand_list"><%= render "brands_ajax/list" %></div>
<a href="#" id="add_brand">Добавить</a>
<a href="#" id="remove_brand">Удалить</a>
<br />
<div id="brand_form">
  <%= render 'brands_ajax/form' %>
</div>
