<h3>Обслуживания</h3>
<div id="maintenance_list"><%= render "maintenances_ajax/list" %></div>
<a href="#" id="add_maintenance">Добавить</a>
<a href="#" id="remove_maintenance">Удалить</a>
<br />
<div id="maintenance_form">
  <%= render 'maintenances_ajax/form' %>
</div>