<h3>Модели</h3>
<div id="car_model_list"><%= render "car_models_ajax/list" %></div>
<a href="#" id="add_car_model">Добавить</a>
<a href="#" id="remove_car_model">Удалить</a>
<br />
<div id="car_model_form">
  <%= render 'car_models_ajax/form' %>
</div>