$("#add_car_model").text("Добавить");
$("#save_car_model_title").html("Изменить Модель");
$("#save_car_model_block").html('<a href="#" id="update_save_car_model">Сохранить</a>');
$("#car_model_name").val("<%=@car_model.name%>");
$("#car_model_description").val("<%=@car_model.description%>");