<h3 id="save_part_title">Добавить Часть</h3>
<%= simple_form_for @part do |f| %>
    <%= f.input :name, :label => "Название", :input_html => { :size => 20 } %>
    <%= f.input :description, :label => "Описание", :input_html => { :size => 20 } %>
<% end %>
<div id="save_part_block"><a href="#" id="add_save_part">Добавить</a></div>
