<h3 id="save_production_year_title">Добавить Год Выпуска</h3>
<%= simple_form_for @production_year do |f| %>
    <%= f.input :year, :label => "Год Выпуска", :input_html => { :size => 20 } %>
<% end %>
<div id="save_production_year_block"><a href="#" id="add_save_production_year">Добавить</a></div>
