$("#save_maintenance_title").html("Изменить Обслуживание");
$("#save_maintenance_block").html('<a href="#" id="update_save_maintenance">Сохранить</a>');
$("#maintenance_description").val("<%=@maintenance.description%>");
$("#maintenance_price").val("<%=@maintenance.price%>");

