$("#save_labor_title").html("Изменить Работу");
$("#save_labor_block").html('<a href="#" id="update_save_labor">Сохранить</a>');
$("#labor_name").val("<%=@labor.name%>");
$("#labor_description").val("<%=@labor.description%>");

