# encoding: utf-8
<h2>Добавление Брендов, Моделей, Годов Производства</h2>

<div class="wrapper">
  <div class="inner">

    <h3>Бренды</h3>
    <div id="brand_list"><%= render "brand_list" %></div>
    <a href="#" id="add_brand">Добавить</a>
    <a href="#" id="remove_brand">Удалить</a>
    <br />
    <div id="brand_form">
      <%= render 'brand_form' %>
    </div>

  </div>

  <div class="inner">
    <h3>Модели</h3>

  </div>

  <div class="inner">
    <h3>Годы производства</h3>

  </div>


</div>
