$("#add_maintenance").text("");

$("#maintenance_form").html('<%= escape_javascript(render "maintenance_form") %>');
$("#save_maintenance_block").append('\n<a href="#" id="cancel_save_maintenance">Отменить</a>');