$("#add_brand").text("");

$("#brand_form").html('<%= escape_javascript(render "brand_form") %>');
$("#save_brand_block").append('\n<a href="#" id="cancel_save_brand">Отменить</a>');
$("#brand_name").focus();