$("#add_car_model").text("");

$("#car_model_form").html('<%= escape_javascript(render "car_model_form") %>');
$("#save_car_model_block").append('\n<a href="#" id="cancel_save_car_model">Отменить</a>');