<h3>Добавить существующую часть</h3>
<label for="search_ex_part">Поиск</label>
<input type="text" id="search_ex_part" size="20">
<div id="all_part_list"><%= render "existence_parts/all_part_list" %></div>
<a href="#" id="add_ex_part">Добавить</a>