<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @production_year.year %>
</p>


<%= link_to 'Edit', edit_production_year_path(@production_year) %> |
<%= link_to 'Back', production_years_path %>
