<h3 id="save_labor_title">Добавить Работу</h3>
<%= simple_form_for @labor do |f| %>
    <%= f.input :name, :label => "Название", :input_html => { :size => 20 } %>
    <%= f.input :description, :label => "Описание", :input_html => { :size => 20 } %>
<% end %>
<div id="save_labor_block"><a href="#" id="add_save_labor">Добавить</a></div>
