<h3>Работы</h3>
<div id="labor_list"><%= render "labors_ajax/list" %></div>
<a href="#" id="add_labor">Добавить</a>
<a href="#" id="remove_labor">Удалить</a>
<br />
<div id="labor_form">
  <%= render 'labors_ajax/form' %>
</div>