# encoding: utf-8
<div id="estimator-container">
<div id="estimator-form">
<div class="brand-logo">Brand logo</div>
<%#= params.inspect %>
<%# if !params[:brand].blank? %>
<%#= "А ты выбрал: " + Brand.find(params[:brand][:id]).name unless params[:brand][:id].empty? %>
<%# else %>

<%# end %>
    
    <ol class="group">
    <%= render 'chain' %>
    </ol>
</div>
</div>
<div class="color-box-medium" >
    <%#= render :partial => 'results' %>
</div>


