<h3>Части</h3>
<div id="part_list"><%= render "parts_ajax/list" %></div>
<a href="#" id="add_part">Добавить</a>
<a href="#" id="remove_part">Удалить</a>
<br />
<div id="part_form">
  <%= render 'parts_ajax/form' %>
</div>