$("#add_part").text("Добавить");
$("#save_part_title").html("Изменить Часть");
$("#save_part_block").html('<a href="#" id="update_save_part">Сохранить</a>');
$("#part_name").val("<%=@part.name%>");
$("#part_description").val("<%=@part.description%>");

