// Place all the styles related to the Modifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper{
    position:relaive;
    display:block;

    .inner{
        float:left;
        width:300px;
        form.brand {
            padding-left: 0px;
        }
        .select{
            width:250px;
        }
    }
}
.clear{
    clear:both;
}