/* --- Reset CSS ---*/ 

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



body {font-family:Helvetica; font-size:12px;}
ol li{list-style:none;}

/*---layout----*/
.wrap{width:960px; margin:0 auto; padding:0 10px; position:relative; }
#header {background:image-url('header-bg.png');   }
#footer{border-top:1px solid #ccc;}


/*---- header ----*/
.header-inner {padding:30px 0; }
#header ol {list-style:none; float:right; margin:40px 0 80px;}
/*---- top-navigation ----*/
#header nav ol li{float:left; margin-left:20px; }
#header nav ol li a{display:block; padding:10px; border:1px solid #E6E6E6; background:#ccc; -moz-border-radius:6px; text-decoration:none; font-size:16px; color:#666; text-shadow:#fff -1px 1px 1px; }
/*--- logo ---*/
.logo {width:229px; float:left; }
.logo a {background:image-url('logo.png'); height:70px; display:block; text-indent:-9999em;}


/*---- registraton ----*/
#top-registr {position:absolute; top:20px; right:0;}
#top-registr a{padding:7px; color:#fff; text-decoration:none; background: #D1C941; border:1px solid #E6E6E6;-moz-border-radius:8px;}




/*---Messages---*/
#flash_notice {text-align:center; background:#bac5dc; padding:10px 0;}
.close{float:right; cursor:pointer; text-decoration:underline;}


/*---- estimator ----*/
#estimator-container,#regform {background:#eee; margin:-80px 0 0 0; border:1px solid #ccc;
 background: -moz-linear-gradient(0% 25% 270deg, #eeeeee, #d9d9d9 );  -moz-border-radius:10px;}
 #estimator-form{margin:10px 0; padding:10px 10px 10px 10px;}
 
#estimator-form ol li{list-style:none; float:left; margin:0 0 10px 0;}
#estimator-form .brand-logo{width:120px; height:75px; float:left;}

#input-mantance {width:690px;  font-size:18px; padding:6px;}
#estimator-form #submit {cursor:pointer; padding:6px; font-size:14px; background: #D1C941; border:1px solid #ccc; -moz-border-radius:6px; margin-left:10px; }

/*-----------*/
/*---forms---*/
/*-----------*/





/*---misc ---*/

.group:after {content: "."; 
display:block; 
height:0; 
clear: both; 
visibility: hidden; }


