/* --- Reset CSS ---*/ 

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



body {font-family:Helvetica; font-size:12px;}
ol li{list-style:none;}

/*---layout----*/
.wrap{width:960px; margin:0 auto; padding:0 10px; position:relative; }
#header {/*background:image-url('header-bg.png');*/ border-bottom:1px solid #e6e6e6; margin:10px 0;  }
#main-container {margin:20px auto;}

#footer{border-top:1px solid #ccc; background:#f2f2f2;}


/*---- header ----*/
.header-inner {}
#header ol {list-style:none; float:right; margin:60px 0 0px;}


/*---- top-navigation ----*/
#header nav ol li{float:left; margin-left:20px; }
#header nav ol li a{display:block; padding:5px; border-right:1px solid #E6E6E6; /*background:#ccc; -moz-border-radius:6px;*/ text-decoration:none; font-size:16px; color:#666; text-shadow:#fff -1px 1px 1px; }
#header nav ol li a:hover{color:#CFCA4C; background:none;}



/*--- logo ---*/
.logo {width:300px; float:left;  }
.logo a {background:image-url('logo3.png'); display:block; text-indent:-9999em; height:100px; width:350px; margin-bottom:10px; }


/*---- registraton ----*/
#top-registr {position:absolute; top:20px; right:0;}
#top-registr a{padding:7px; color:#fff; text-decoration:none; background: #D1C941; border:1px solid #E6E6E6;-moz-border-radius:8px; -web-kit-border-radius:8px;}
#top-registr a.but-enter{background:#808080;}
#top-registr span{padding:0 10px; font-size:14px;}


/*---Messages---*/
#flash_notice {text-align:center; background:#bac5dc; padding:10px 0;}
.close{float:right; cursor:pointer; text-decoration:underline;}


/*---- estimator ----*/
#estimator-container,#regform {background:image-url('header-bg.png') #eee; margin:-0px 0 0 0; border:1px solid #ccc;
  -moz-border-radius:10px; -web-kit-border-radius:10px;}
  
#estimator-container .brand-logo{width:160px; float:left;}

#estimator-container .brand-logo img{margin:40px 30px;}
 
 #estimator-form{margin:20px 0 0px 180px;}
 
#estimator-form p{font-size:18px; color:#808080; margin-bottom:20px; text-shadow:-1px 1px #fff; }

#estimator-form ol li{list-style:none; float:left; margin:0px 20px 20px 0;}

#estimator-form select {width:160px; height:25px;}




#input-mantance {width:580px; height:30px;}

#estimator-form #submit {cursor:pointer; padding:6px; font-size:18px; background: #D1C941; border:1px solid #ccc; -moz-border-radius:6px; margin-left:10px; }

.color-box-medium{display:none;}

/*-----------*/
/*---forms---*/
/*-----------*/

/*-----------*/
/*---sliders---*/
/*-----------*/

#slider {margin:20px 0;}


/*---misc ---*/

.group:after {content: "."; 
display:block; 
height:0; 
clear: both; 
visibility: hidden; }


