<h3>Годы производства</h3>
<div id="production_year_list"><%= render "production_years_ajax/list" %></div>
<a href="#" id="add_production_year">Добавить</a>
<a href="#" id="remove_production_year">Удалить</a>
<br />
<div id="production_year_form">
  <%= render 'production_years_ajax/form' %>
</div>