$("#add_production_year").text("Добавить");
$("#save_production_year_title").html("Изменить Год Выпуска");
$("#save_production_year_block").html('<a href="#" id="update_save_production_year">Сохранить</a>');
$("#production_year_year").val("<%=@production_year.year%>");